API_SERVER_KEY=...
HERMES_DATA_DIR=...
HERMES_WRITE_SAFE_ROOT=...
HERMES_INPUT_DIR=...
HERMES_OUTPUT_DIR=...
LANGFUSE_INIT_USER_EMAIL=...
LANGFUSE_INIT_USER_NAME=...
LANGFUSE_INIT_USER_PASSWORD=...
HERMES_LANGFUSE_SECRET_KEY=...
HERMES_LANGFUSE_PUBLIC_KEY=...
HERMES_LANGFUSE_BASE_URL=http://langfuse-web:3000

# firecrawl
FIRECRAWL_API_URL=http://host.docker.internal:3002
FIRECRAWL_API_KEY=dummy

# Discord
DISCORD_BOT_TOKEN=...
DISCORD_ALLOWED_USERS=...
DISCORD_HOME_CHANNEL=...
DISCORD_HOME_CHANNEL_NAME=...

# Telegram
TELEGRAM_BOT_TOKEN=...
TELEGRAM_ALLOWED_USERS=...
TELEGRAM_HOME_CHANNEL=...
